h1 {
  color: orange;
  backound-color: slategray;
  font-size: 20px;
  text-decoration: underline;
  font-family: arial;
  text-align: center;
}
p{
  color: slategray;
  text-align: right;
  line-height: 30px;
  letter-spacing: 3px;
  column-count: 2;
  column-gap: 60px;
}
ul{
  border-bottom: 4px dotted crimson;
  border-left: 8px dashed crimson;
}

li {

  list-style-type: none;
  text-shadow: 2px 2px lightgray;
}


 body { 
   background-image: url("backround.jpeg");
   background-repeat:no-repeat;
   background-position: center;
   background-attachment: fixed;
   background-size: cover;
  
} 


{
.class-1 { 
  text-decoration: line-through;
}
.class-2 { 
  text-shadow: 4px 4px #ff0000;
}
#The-Third { 
  transform: rotate(180deg);
} 
p.a { 
  font-style: italic;
  text-color: blue;
}
p.b { 
  font-style: oblique;
}
p.c { 
  font-style: serif;
} 

#Ive-been-to-5-different-countries { 
  fontfamily:serif;
}
#Im-left-handed { 
  fontfamily:sans-serif;
}
#I-only-have-one-sibling {
  fontfamily:cursive;
}
#My-favorite-food-is-Tostones {
  fontfamily:monospace;
}
#I-love-traveling {
  fontfamily:fantasy;
}
     

